.dir-title,
.file-title {
    border-bottom: 1px solid black;
    display: inline-block;
}

.admin-panel {
    display: inline-block;
}

.error {
    padding: 5px;
    color: red;
}

.msg {
    padding: 5px;
}

nav {
    padding: 5px;
}

.grey {
    color: #777;
}

.item-list {
    width: 100%;
    list-style: none;
    padding: 0;
}

.item-list li a {
    padding: .6em;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-bottom: 0;
    display: block;
    transition: none;
}

.item-list li a:last-child {
    border-bottom: 1px solid #ddd;
}

.item-list li a:hover {
    border-color: #aaa;
}

li {
    line-height: 1.45em;
}

.notif-area {
    position: fixed;
    top: 1em;
    right: 1em;
}

.notif-area .notif {
    margin-top: .5em;
    background: #eee;
    padding: .7em;
}

.notif-area .notif .notif-btn button {
    margin-top: .5em;
    margin-left: .5em;
}

.notif-area .notif .notif-btn button:first-of-type {
    margin-left: 0;
}
