.dir_title,
.file_title {
    border-bottom: 1px solid black;
    display: inline-block;
}

.admin_panel {
    display: inline-block;
}
.error {
    padding: 5px;
    color: red;
}
.msg {
    padding: 5px;
}
nav {
    padding: 5px;
}

.grey {
    color: #777;
}

.item_list {
    width: 100%;
    list-style: none;
    padding: 0;
}

.item_list li a {
    padding: .6em;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-bottom: none;
    display: block;
    transition: none;
}

.item_list li a:last-child {
    border-bottom: 1px solid #ddd;
}

.item_list li a:hover {
    border-color: #aaa;
}

li {
    line-height: 1.45em;
}

.notifArea {
    position: fixed;
    top: 1em;
    right: 1em;
}

.notifArea .notif {
    margin-top: 0.5em;
    background: #eee;
    padding: 0.7em;
}

.notifArea .notif .notifMsg {
}

.notifArea .notif .notifBtn button {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.notifArea .notif .notifBtn button:first-of-type {
    margin-left: 0em;
}
