.admin_list {
    width: 100%;
    list-style: none;
}

.admin_list li {
    padding: .6em;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    display: block;
    transition: none;
}

#useredit, #filedelete {
    box-sizing: content-box;
}

#delete_button {
    display: block;
}

#delete_confirm {
    display: none;
}
