$ball-radius: 7rem;
$ball-dip: 6rem;

$ball-width: 2 * $ball-radius;
$ball-height: 2 * $ball-radius - $ball-dip;

$nav-link-width: 6rem;
$nav-link-bottom-margin: 1em;
$page-open-animation-timeout: .7s;

$red: rgb(202, 60, 60);
$green: rgb(28, 184, 65);

@font-face {
    font-family: 'hindi';
    src: local('Lohit Devanagari');
    unicode-range: U+0900-097F;
}

@font-face {
    font-family: 'telugu';
    src: local('Lohit Telugu');
    unicode-range: U+0C00-0C7F;
}

@font-face {
    font-family: 'gujarati';
    src: local('Lohit Gujarati');
    unicode-range: U+0A81-0AF9;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll;
    font-family: "Noto Sans", hindi, telugu, gujarati, sans-serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    transition: background-position $page-open-animation-timeout;

    &.page-open {
        background-position: 0 100%;
    }
}

%flat-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%main-bottom-nav {
    @extend %flat-list;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

%clearfix {
    &:before,
    &:after {
        display: table;
        content: ' ';
    }

    &:after {
        clear: both;
    }
}

a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: #fff;

    &.underlined {
        border-bottom: 1px solid;

        &:hover {
            border-bottom-style: dashed;
        }
    }
}

.row {
    @extend %clearfix;

    [class*=col] {
        float: left;
    }

    &.padded > [class*=col],
    [class*=col].padded {
        padding: 5px 10px;
    }

    @for $i from 1 through 12 {
        .col#{$i} {
            width: #{(100% / 12) * $i};
        }

        .offset#{$i} {
            margin-left: #{(100% / 12) * $i};
        }
    }

    .col-half {
        width: #{(100% / 24)};
    }

    .offset-half {
        margin-left: #{(100% / 24)};
    }

    @media (max-width: 44rem) {
        [class*=col] {
            float: none;
            margin-top: 1em;
            width: 100%;

            &.text-right,
            &.text-left {
                text-align: center;
            }
        }

        [class*=offset] {
            margin-left: 0;
        }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
}

.some-top-margin {
    margin-top: 1em;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.btn {
    display: inline-block;
    background-color: white;
    border: 1px solid rgb(38, 40, 61);
    color: rgb(38, 40, 61);
    font-weight: normal;
    padding: .5em 1.5em;
    transition: all .3s;

    @at-root a#{&} {
        color: rgb(38, 40, 61);
    }

    &:hover {
        color: #fff;
        background-color: rgb(38, 40, 61);
        border: 1px solid rgb(19, 20, 30);
    }

    &.large {
        font-size: 1.5em;
    }

    &.block {
        display: block;
    }
}

p {
    margin: 0 0 10px;
    line-height: 1.2;

    &.lead {
        margin-bottom: 20px;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.4;
    }
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: #{$ball-height};
    z-index: 101;
    pointer-events: none;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    transition: background-position $page-open-animation-timeout;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(26, 27, 45, .6);
    }

    .page-open & {
        background-position: 0 100%;

        &:before {
            top: 0;
            transition: top #{$page-open-animation-timeout / 5};
        }
    }
}

.primary-nav {
    @extend  %main-bottom-nav;
    width: calc(50% - #{$ball-width / 2});

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    li {
        width: $nav-link-width;
        animation: 2s infinite float;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i / 5}s;
            }
        }

        a {
            pointer-events: all;
        }
    }
}

.primary-nav-link {
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    font-weight: 600;
    margin-bottom: $nav-link-bottom-margin;
    transform: scale(1) translateY(0);
    animation-fill-mode: forwards;

    &.disappear {
        animation: #{$page-open-animation-timeout} 1 teleport;
        animation-fill-mode: forwards;
    }

    &.open {
        transition: all $page-open-animation-timeout;
        margin-bottom: 100vh;
        transform: scale(1) translateY(100%);

        .title {
            transform: scale(2.5) rotate(5deg);
        }

        &.gallery .title {
            transform: scale(2.5) rotate(-8deg) translateY(-.1em);
        }
    }

    img {
        max-width: 100%;
        display: block;
    }

    .title {
        background-color: white;
        color: orange;
        font-size: 1.1em;
        font-weight: bold;
        padding: 3px 0;
        transform-origin: top center;
        transform: scale(1) rotate(0);
        transition: transform $page-open-animation-timeout;
    }
}

.crystal-ball {
    pointer-events: all;
    position: relative;
    height: 2 * $ball-radius;
    width: 2 * $ball-radius;
    margin: auto;
    border-radius: $ball-radius;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 0 10px 10px white, 0 0 10px 3px white, 0 0 10px 10px white inset, 0 0 1em #fff, 0 0 2em .5em #fff, 0 0 3em #fff, 0 0 4em #fff, 0 0 1em #fff inset, 0 0 3em #fff inset;
    transition: box-shadow 1s;
    z-index: 1;

    .ball-title {
        width: 100%;
        font-size: 1.7em;
        position: absolute;
        bottom: $ball-dip + 1rem;
        text-align: center;
        color: orange;
        font-weight: bold;
    }
}

.big-wave {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: rgba(136, 17, 51, .4);
    animation: 1.5s 1 big-wave;
    animation-fill-mode: forwards;
}

@keyframes big-wave {
    0% {
        box-shadow: 0 0 0 0 #fff;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        box-shadow: 0 0 0 100vh rgba(136, 17, 51, .4);
        opacity: 0;
    }
}

.events-nav {
    @extend %flat-list;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    margin: auto;

    > li {
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.events-nav-button {
    display: block;
    position: relative;
    height: 2em;
    width: 2em;
    color: orange;
    font-family: felicons;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

.nav-cum-tooltip-dummy-target {
    pointer-events: none;
    position: fixed;
    z-index: 200;
}

.nav-cum-tooltip {
    position: absolute;
    bottom: calc(100% + 10px);
    margin-bottom: 10px;
    left: 50%;
    min-width: 150px;
    transform: translateX(-50%);
    background-color: #fff;
    white-space: nowrap;
    text-align: center;
    color: orange;
    border-radius: 5px;
    box-shadow: 0 0 2px #ccc;
    opacity: 0;
    transition: opacity 50ms, bottom 50ms;

    .triangle-back,
    .triangle-front {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .triangle-back {
        border-top: 10px solid #ccc;
        bottom: -10px;
    }

    .triangle-front {
        border-top: 9px solid #ffa500;
        bottom: -9px;
    }

    &.open {
        pointer-events: all;
    }

    .nav-title {
        font-weight: bold;
        padding: 10px 15px;
        z-index: 10;
        position: relative;
        border-radius: 5px 5px 0 0;
        background-color: #ffa500;
        color: white;
    }

    .fire1 {
        position: absolute;
        width: 100%;
        background-color: green;
        z-index: 2;
    }
}

.events-sub-nav {
    @extend %flat-list;
    height: 0;
    overflow-y: hidden;
    z-index: 10;
    position: relative;

    .open & {
        border-top: 1px solid #ccc;
    }

    li {
        a {
            display: block;
            padding: 10px;
            color: orange;
            position: relative;
            overflow: hidden;

            &:hover {
                background-color: #eee;
            }

            .wave {
                position: absolute;
                height: 1px;
                width: 1px;
                animation: .75s 1 wave;
                border-radius: 50%;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes wave {
    from {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
        opacity: 1;
    }

    to {
        box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
        opacity: 0;
    }
}

article {
    padding-bottom: $ball-height;
}

.landing {
    position: relative;
    min-height: 100%;
    text-align: center;
    padding-top: 1em;
    color: #021a24;
    width: 100%;
    z-index: 1;

    .landing-content {
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    .iiit-h {
        font-family: "Times new roman", hindi, telugu, gujarati, serif;
        font-size: 2em;
        line-height: 1.25em;
        margin: 0;

        img {
            height: 1.25em;
            vertical-align: top;
        }
    }

    .presents {
        font-style: italic;
        line-height: 1.1em;
        margin-bottom: 2em;
    }

    .title {
        font-family: Flamenco, hindi, telugu, gujarati, sans-serif;
        font-size: 6em;
        text-transform: lowercase;
        text-align: center;
        margin: 0;
        text-shadow: 0 0 0 #000;

        a {
            color: inherit;
        }
    }

    .year {
        font-family: Flamenco, hindi, telugu, gujarati, sans-serif;
        font-size: 2em;
        text-align: right;
        font-weight: bold;
        margin-top: 0;
        text-shadow: 0 0 0 #000;
    }

    .tagline {
        font-family: Flamenco, hindi, telugu, gujarati, sans-serif;
        font-size: 2.25em;
        text-align: center;
    }

    .dates {
        font-family: hindi, telugu, gujarati, sans-serif;
        font-size: 1.2em;
    }

    @media (max-height: 36em) {
        .year,
        .tagline {
            margin: 0;
        }
    }

    @media (max-height: 31em) {
        .iiit-h,
        .presents {
            display: inline-block;
        }
    }

    &,
    .iiit-h,
    .presents,
    .title,
    .year,
    .tagline,
    .dates {
        transition: all $page-open-animation-timeout, color $page-open-animation-timeout;
    }

    .page-open & {
        padding-top: .3em;

        .title,
        .year {
            color: white;
            text-shadow: 0 0 2px #000;
        }

        .title {
            font-size: 3em;
        }

        .year {
            font-size: 1em;
            margin: 0;
        }

        .iiit-h,
        .presents,
        .tagline,
        .dates {
            font-size: 0;
            margin: 0;
        }
    }
}

.page {
    position: absolute;
    height: 0;
    width: 100%;
    top: 100vh;
    padding-top: 5.5em;
    opacity: 1;
    color: white;
    background-color: rgba(26, 27, 45, .6);
    transition: all $page-open-animation-timeout;
    z-index: 2;

    &.open {
        min-height: calc(100vh - 5em);
        top: 5em;
        height: auto;
        transition: all $page-open-animation-timeout;
    }

    &.full {
        padding-top: 0;
    }

    &.to-be-deleted {
        opacity: 0;
    }
}

.page.about {
    p {
        font-size: 1.5em;
        line-height: 1.333em;
        text-align: left;
        max-width: 36em;
        margin: auto;
    }
}

.page.gallery {
    padding-top: 0;
    padding-bottom: $ball-height / 2;

    .thumbnail-wrapper {
        background-color: black;

        .col {
            width: 15%;
            background-color: white;
        }

        .col1 {
            float: left;
        }

        .col2 {
            float: right;
        }
    }

    img {
        display: block;
        margin: auto;
    }

    .thumbnail {
        width: 100%;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    .large-image {
        position: fixed;
        left: 15%;
        bottom: 0;
        top: 5em;
        width: 70%;
        animation: $page-open-animation-timeout 1 appear;
        animation-fill-mode: forwards;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.page.team {
    .row {
        border-top: 2px solid white;
    }

    [class*=col] {
        border-top: 2px solid white;
        transform: translateY(-2px);
        margin-top: 0;
        padding: 0 1em;
    }

    .img-container {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 4px;
        transform-origin: top center;
    }

    .clip {
        position: absolute;
        left: 50%;
        top: -25px;
        height: 40px;
        padding: 0;
        margin: auto;
        display: block;
        background: transparent;
    }

    img {
        display: block;
        margin: auto;
        max-width: 100%;
        padding: .6em;
        background-color: #fff;
    }

    .name,
    .names {
        font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .name {
        text-align: center;
    }
}

.page.sponsors {
    text-align: center;

    p {
        font-size: 1.2em;
        line-height: 1.5em;
        margin-top: .7em;
    }

    img {
        display: inline-block;
        max-width: 100%;
        background-color: #fff;
        padding: 1em;
    }
}

.page.contact {
    font-size: 1.3em;

    .social-icon {
        max-height: 1em;
        vertical-align: baseline;
    }
}

.page.event {
    text-align: center;

    .date-time {
        color: #fff;
        border-bottom: 1px solid #fff;

        &:hover {
            border-bottom-style: dashed;
        }
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0;
    }

    .lead {
        margin-bottom: 2em;
    }
}

.page.category {
    h1 {
        font-size: 3em;
    }

    h2 {
        margin-top: 0;
    }

    .event-list {
        display: inline-block;
        text-align: left;

        .event {
            display: block;
            margin-bottom: 10px;
        }

        .lead {
            margin-bottom: .25em;
            font-size: 1.5em;
        }
    }
}

// Style for schedule page
.page.schedule {

    .cal-month-name {
        font-weight: 700;
        font-size: 1.3em;
        text-align: right;
    }

    .cal-table {
        text-align: center;
        border-collapse: separate;
        border-spacing: 6px;

        th {
            width: 2.5em;
            font-weight: 400;
        }

        td {
            vertical-align: middle;
            border-radius: 500;
            border: 3px solid #756a81;
            height: 2.5em;
            width: 2.5em;

            &.empty {
                border: 0;
            }

            &.has-event {
                background-color: #373348;
                cursor: pointer;

                &:hover {
                    background-color: #111a29;
                }
            }
        }
    }

    .eventslist {
        td {
            position: relative;
            padding: .5em;
            vertical-align: middle;
        }

        .day {
            font-size: 1.3em;
            padding-right: 1em;
        }

        .event-container {
            border-left: .2em solid white;
            padding-left: 1em;
        }

        .event {
            display: block;
            position: relative;
            background-color: #756a81;
            border-radius: .2em;
            width: 10em;
            padding: .5em;
        }

        .circle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: -1.6em;
            background-color: #fff;
            width: 1em;
            height: 1em;
            border-radius: .5em;
        }

        .innercircle {
            display: none;
            position: relative;
            top: .25em;
            left: .25em;
            width: .5em;
            height: .5em;
            border-radius: .25em;
        }

        .timeline:hover {
            .innercircle {
                display: block;
            }

            &:hover {
                .innercircle,
                .event {
                    background-color: #505a89;
                }
            }

            &.threads:hover {
                .innercircle,
                .event {
                    background-color: #3c93b0;
                }
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(3px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

@keyframes slide {
    0% {
        margin-bottom: 0;
        transform: scale(1) translateY(0);
    }

    100% {
        margin-bottom: 100vh;
        transform: scale(1) translateY(100%);
    }
}

@keyframes teleport {
    0% {
        margin-bottom: 100vh;
        transform: scale(1) translateY(100%);
    }

    49% {
        margin-bottom: 100vh;
        transform: scale(0) translateY(100%);
    }

    50% {
        margin-bottom: $nav-link-bottom-margin;
        transform: scale(0) translateY(100%);
    }

    51% {
        margin-bottom: $nav-link-bottom-margin;
        transform: scale(0) translateY(0);
    }

    100% {
        margin-bottom: $nav-link-bottom-margin;
        transform: scale(1) translateY(0);
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 2em #fff, 0 0 3em #fff, 0 0 1em #fff inset, 0 0 3em #fff inset;
    }

    50% {
        box-shadow: 0 0 1em #fff, 0 0 2em .5em #fff, 0 0 3em #fff, 0 0 4em #fff, 0 0 1em #fff inset, 0 0 3em #fff inset;
    }

    to {
        box-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 2em #fff, 0 0 3em #fff, 0 0 1em #fff inset, 0 0 3em #fff inset;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button,
input,
optgroup,
select,
textarea {
    color: #555;
}

.error,
.success {
    padding: .5em;
    border-radius: .3em;
}

.error {
    background: $red;
}

.success {
    background: $green;
}

.container-inline-block {
    display: inline-block;
}

.auth-quick-links {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;

    .nick {
        background-color: rgba(255, 255, 255, .7);
        border-radius: 0 0 0 10px;
        border-left: 1px solid;
        border-bottom: 1px solid;
        padding: .5em 1em;

        a {
            color: #1f8dd6;
            margin-left: 1em;

            &:hover {
                color: #055da0;
                border-bottom: 1px solid;
            }
        }
    }
}

.lang-quick-links {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    color: #0b2a60;

    background-color: rgba(255, 255, 255, .7);
    border-radius: 0 0 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: .5em 1em;

    a {
        color: #1f8dd6;

        &:hover {
            color: #055da0;
            border-bottom: 1px solid;
        }
    }

    .active-lang {
        color: black;

        &:hover {
            color: black;
        }
    }
}
