$ball-radius: 7rem;
$ball-dip: 6rem;

$ball-width: 2 * $ball-radius;
$ball-height: 2 * $ball-radius - $ball-dip;

$nav-link-width: 6rem;
$nav-link-bottom-margin: 1em;
$page-open-animation-timeout: .7s;

$red: rgb(202, 60, 60);
$green: rgb(28, 184, 65);

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    overflow-y: scroll;
    font-family: "Noto Sans", sans-serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    transition: background-position $page-open-animation-timeout;

    &.page-open {
        background-position: 0 100%;
    }
}

%flat-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%main-bottom-nav {
    @extend %flat-list;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

%clearfix {
    &:before,
    &:after {
        display: table;
        content: ' ';
    }

    &:after {
        clear: both;
    }
}

a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.row {
    @extend %clearfix;

    [class*=col] {
        float: left;

        .padded & {
            padding: 10px;
        }
    }

    @for $i from 1 through 11 {
        .col#{$i} {
            width: #{(100% / 12) * $i};
        }

        .offset#{$i} {
            margin-left: #{(100% / 12) * $i};
        }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
}

.some-top-margin {
    margin-top: 1em;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.btn {
    display: inline-block;
    background-color: white;
    border: 1px solid rgb(38, 40, 61);
    color: rgb(38, 40, 61);
    font-weight: normal;
    padding: .5em 1.5em;
    transition: all .3s;

    @at-root a#{&} {
        color: rgb(38, 40, 61);
    }

    &:hover {
        color: #fff;
        background-color: rgb(38, 40, 61);
        border: 1px solid rgb(19, 20, 30);
    }

    &.large {
        font-size: 1.5em;
    }

    &.block {
        display: block;
    }
}

p {
    margin: 0 0 10px;
    line-height: 1.2;

    &.lead {
        margin-bottom: 20px;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.4;
    }
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 101;
    pointer-events: none;
}

.primary-nav {
    @extend %main-bottom-nav;
    width: calc(50% - #{$ball-width / 2});

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    li {
        width: $nav-link-width;
        animation: 2s infinite float;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i / 5}s;
            }
        }

        a {
            pointer-events: all;
        }
    }
}

.primary-nav-link {
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    font-weight: 600;
    margin-bottom: $nav-link-bottom-margin;
    transform: scale(1) translateY(0);
    animation-fill-mode: forwards;

    &.disappear {
        animation: #{$page-open-animation-timeout} 1 teleport;
        animation-fill-mode: forwards;
    }

    &.open {
        transition: all $page-open-animation-timeout;
        margin-bottom: 100vh;
        transform: scale(1) translateY(100%);

        .title {
            transform: scale(2.5) rotate(5deg);
        }

        &.gallery .title {
            transform: scale(2.5) rotate(-8deg) translateY(-.1em);
        }
    }

    img {
        max-width: 100%;
        display: block;
    }

    .title {
        background-color: white;
        color: orange;
        font-size: 1.1em;
        font-weight: bold;
        padding: 3px 0;
        transform-origin: top center;
        transform: scale(1) rotate(0);
        transition: transform $page-open-animation-timeout;
    }
}

.crystal-ball {
    pointer-events: all;
    position: relative;
    top: $ball-dip;
    height: 2 * $ball-radius;
    width: 2 * $ball-radius;
    margin: auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .95);
    animation: glow 2s infinite linear;
    z-index: 1;

    .ball-title {
        width: 100%;
        font-size: 1.7em;
        position: absolute;
        bottom: $ball-dip + 1rem;
        text-align: center;
        color: orange;
        font-weight: bold;
    }
}

.big-wave {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: rgba(136, 17, 51, .4);
    animation: 1.5s 1 big-wave;
    animation-fill-mode: forwards;
}

@keyframes big-wave {
    0% {
        box-shadow: 0 0 0 0 #fff;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        box-shadow: 0 0 0 100vh rgba(136, 17, 51, .4);
        opacity: 0;
    }
}

.events-nav {
    @extend %flat-list;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    margin: auto;

    > li {
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.events-nav-button {
    display: block;
    position: relative;
    height: 2em;
    width: 2em;
    color: orange;
    font-family: felicons;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

.nav-cum-tooltip-dummy-target {
    pointer-events: none;
    position: fixed;
    z-index: 200;
}

.nav-cum-tooltip {
    position: absolute;
    bottom: calc(100% + 10px);
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    white-space: nowrap;
    text-align: center;
    color: orange;
    border-radius: 5px;
    box-shadow: 0 0 2px #ccc;
    opacity: 0;
    transition: opacity 50ms, bottom 50ms;

    .triangle-back,
    .triangle-front {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .triangle-back {
        border-top: 10px solid #ccc;
        bottom: -10px;
    }

    .triangle-front {
        border-top: 9px solid #fff;
        bottom: -9px;
    }

    &.open {
        pointer-events: all;
    }

    .nav-title {
        padding: 10px 15px;
        z-index: 10;
        position: relative;
    }

    .fire1 {
        position: absolute;
        width: 100%;
        background-color: green;
        z-index: 2;
    }
}

.events-sub-nav {
    @extend %flat-list;
    height: 0;
    overflow-y: hidden;
    z-index: 10;
    position: relative;

    .open & {
        border-top: 1px solid #ccc;
    }

    li {
        a {
            display: block;
            padding: 10px;
            color: orange;
            position: relative;
            overflow: hidden;

            &:hover {
                background-color: #eee;
            }

            .wave {
                position: absolute;
                height: 1px;
                width: 1px;
                animation: .75s 1 wave;
                border-radius: 50%;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes wave {
    from {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
        opacity: 1;
    }

    to {
        box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
        opacity: 0;
    }
}

.contest-nav {
    @extend %main-bottom-nav;
    width: 100%;

    li {
        animation: 2s infinite float;

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i / 5}s;
            }
        }

        a {
            pointer-events: all;
        }
    }
}

.contest-nav-link {
    display: block;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    margin-bottom: $nav-link-bottom-margin;
    background-color: white;
    color: orange;
    font-size: 1.2em;
    font-weight: bold;
    padding: .5em 1em;
}

.contest {
    .contest-tnc {
        @extend %clearfix;
        .contest-title {
            float: left;
            font-size: 3.5em;
        }
        .contest-caption {
            float: right;
            padding-top: 2.5em;
            text-transform: uppercase;
        }
    }
    .scoreboard {
        .flag-container {
            border-right: 0;
        }
        .flag-container + td {
            border-left: 0;
        }
    }
    .problems {
        .incorrect {
            color: $red;
        }
        .correct {
            color: $green;
        }
    }
    .problem {
        padding: 0 0.5em;
        .level {
            border-bottom: 1px solid #FFF;
            text-transform: uppercase;
            margin-top: 0.5em;
        }
        .title {
            font-size: 2em;
            margin-bottom: 0.5em;
        }
        .statement {
            border-bottom: 2px solid #FFF;
        }
        .answer {
            text-align: center;
            padding: 0.5em 0em;
            input {
                display: inline-block;
                margin: 0.2em;
            }
            input[type="text"] {
                font-size: 1.2em;
            }
            border-bottom: 2px solid #FFF;
        }
        .comments {
            .comment {
                margin-left: 1em;
                margin-bottom: 0.5em;
                border-left: 2px solid #543;
                border-bottom: 3px solid #543;
                padding: 0.5em;
                .meta {
                    @extend %clearfix;
                    padding-bottom: 0.2em;
                    border-bottom: 1px solid #AAA;
                    .author {
                        float: left;
                        color: #EEE;
                    }
                    .time {
                        float: right;
                        color: #EEE;
                    }
                }
                .body {
                    padding: 0.2em 0;
                }
            }
            &:nth-child(2) {
                border-top: 1px solid #543;
            }
            .pure-form {
                margin: 1em;

                input[type="submit"] {
                    margin-top: 0.5em;
                }
            }
        }
        .btn {
            border-radius: 5px;
        }
    }
}

article {
    padding-bottom: $ball-height;
}

.landing {
    position: relative;
    min-height: 100%;
    text-align: center;
    padding-top: 1em;
    color: #021a24;
    width: 100%;

    .landing-content {
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    .iiit-h {
        font-family: "Times new roman", serif;
        font-size: 2em;
        line-height: 1.25em;
        margin: 0;

        img {
            height: 1.25em;
            vertical-align: top;
        }
    }

    .presents {
        font-style: italic;
        line-height: 1.1em;
        margin-bottom: 2em;
    }

    .title {
        font-family: Flamenco, sans-serif;
        font-size: 6em;
        text-transform: lowercase;
        text-align: center;
        margin: 0;

        a {
            color: inherit;
        }
    }

    .year {
        font-family: Flamenco, sans-serif;
        font-size: 2em;
        text-align: right;
        font-weight: bold;
        margin-top: 0;
    }

    .tagline {
        font-family: Flamenco, sans-serif;
        font-size: 2.25em;
        text-align: center;
    }

    .dates {
        font-family: sans-serif;
        font-size: 1.2em;
    }

    @media (max-height: 36em) {
        .year,
        .tagline {
            margin: 0;
        }
    }

    @media (max-height: 31em) {
        .iiit-h,
        .presents {
            display: inline-block;
        }
    }

    .iiit-h,
    .presents,
    .tagline,
    .dates {
        transition: font-size $page-open-animation-timeout;
    }

    .title,
    .year {
        transition: font-size $page-open-animation-timeout, color $page-open-animation-timeout;
    }

    .page-open & {
        font-size: .5em;

        .title,
        .year {
            color: white;

        }

        .iiit-h,
        .presents,
        .tagline,
        .dates {
            font-size: 0;
        }
    }
}

.page {
    position: absolute;
    height: 0;
    width: 100%;
    top: 100vh;
    transition: all $page-open-animation-timeout;
    padding-top: 5.5em;
    z-index: 0;
    opacity: 1;
    color: white;
    background-color: rgba(26, 27, 45, .6);

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        opacity: .6;
        transform: translateY(-100%);
        height: 59px;
        width: 331px;
        background-image: url('../images/page-top.png');
        z-index: 100;
    }

    &.open {
        min-height: calc(100vh - 5em);
        top: 5em;
        height: auto;
        transition: all $page-open-animation-timeout;
    }

    &.full {
        padding-top: 0;
    }

    &.about {
        p {
            font-size: 1.5em;
            line-height: 1.333em;
            text-align: left;
            max-width: 36em;
            margin: auto;
        }
    }

    &.gallery {
        padding-top: 0;
        padding-bottom: $ball-height / 2;

        .thumbnail-wrapper {
            background-color: black;

            .col {
                width: 15%;
                background-color: white;
            }

            .col1 {
                float: left;
            }

            .col2 {
                float: right;
            }
        }

        img {
            display: block;
            margin: auto;
        }

        .thumbnail {
            width: 100%;
            cursor: pointer;

            img {
                width: 100%;
            }
        }

        .large-image {
            position: fixed;
            left: 15%;
            bottom: 0;
            top: 5em;
            width: 70%;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &.sponsors {
        p {
            text-align: center;
        }

        img {
            display: block;
            width: 100%;
            background-color: #fff;
        }
    }

    &.event {
        text-align: center;

        .date-time {
            color: #fff;
            border-bottom: 1px solid #fff;

            &:hover {
                border-bottom-style: dashed;
            }
        }

        h1 {
            font-size: 3em;
            margin-bottom: 0;
        }

        .lead {
            margin-bottom: 2em;
        }
    }

    &.category {
        h1 {
            font-size: 3em;
        }

        h2 {
            margin-top: 0;
        }

        .event-list {
            display: inline-block;
            text-align: left;

            .event {
                display: block;
                margin-bottom: 10px;
            }

            .lead {
                margin-bottom: .25em;
                font-size: 1.5em;
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(3px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

@keyframes slide {
    0% {
        margin-bottom: 0;
        transform: scale(1) translateY(0);
    }

    100% {
        margin-bottom: 100vh;
        transform: scale(1) translateY(100%);
    }
}

@keyframes teleport {
    0% {
        margin-bottom: 100vh;
        transform: scale(1) translateY(100%);
    }

    49% {
        margin-bottom: 100vh;
        transform: scale(0) translateY(100%);
    }

    50% {
        margin-bottom: $nav-link-bottom-margin;
        transform: scale(0) translateY(100%);
    }

    51% {
        margin-bottom: $nav-link-bottom-margin;
        transform: scale(0) translateY(0);
    }

    100% {
        margin-bottom: $nav-link-bottom-margin;
        transform: scale(1) translateY(0);
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 2em #fff, 0 0 3em #fff, 0 0 1em #fff inset, 0 0 3em #fff inset;
    }

    50% {
        box-shadow: 0 0 1em #fff, 0 0 2em .5em #fff, 0 0 3em #fff, 0 0 4em #fff, 0 0 1em #fff inset, 0 0 3em #fff inset;
    }

    to {
        box-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 2em #fff, 0 0 3em #fff, 0 0 1em #fff inset, 0 0 3em #fff inset;
    }
}

// Below is code for Tooltip from http://osvaldas.info/elegant-css-and-jquery-tooltip-responsive-mobile-friendly
#tooltip {
    text-align: center;
    color: orange;
    background: #fff;
    position: absolute;
    z-index: 200;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 1px #ccc;

    &:after { //triangle decoration
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;

        &.top {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }

        &.left {
            left: 10px;
            margin: 0;
        }

        &.right {
            right: 10px;
            left: auto;
            margin: 0;
        }
    }
}

button,
input,
optgroup,
select,
textarea {
    color: #555;
}

.error,
.success {
    padding: 0.5em;
    border-radius: 0.3em;
}

.error {
    background: $red;
}

.success {
    background: $green;
}

.container-inline-block {
    display: inline-block;
}
