html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.file {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}
.file .file_edit {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.file_title_edit {
    padding: 5px;
    align-items: center;
    display: flex;
}
.file_title_edit input[type="text"] {
    flex: 1 1;
}
.file_title_edit input {
    margin: 0 5px;
}
.editor {
    flex: 1 1 auto;
    display: flex;
    margin-top: 5px;
    min-height: 10em;
}
#file_edit_contain, #file_md {
    flex: 1 1;
}
#file_edit_contain {
    position: relative;
    display: flex;
    flex-direction: column;
}
#file_md_edit {
    font-family: monospace;
    outline: none;
    border: none;
    resize: none;
    flex: 1;
}
#dummyTextarea {
    font-family: monospace;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 30px;
}
.editor #file_md {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid black;
}

ins {
    background-color: #a6f3a6;
}
del {
    background-color: #f8cbcb;
}
#diff {
    padding: 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
