html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.file {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}
.file .file_edit {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.file_title_edit {
    padding: 5px;
    align-items: center;
    display: flex;
}
.file_title_edit input[type="text"] {
    flex: 1 1;
}
.file_title_edit input {
    margin: 0 5px;
}
.editor {
    margin-top: 5px;
    min-height: 10em;
}
#file_edit_contain label {
    display: block;
    margin: .4em 0;
}
