@font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: felicity;
    src: url(../fonts/GeosansLight.ttf);
}

body {
    background: url(../images/background.png) no-repeat center center;
    top: 40%;
    text-align: center;
    font-family: "felicity";
    line-height: 1.4em;
}

p {
    font-size: 1.4em;
}

.layer {
    width: 100%;
    height: 100%;
}

.mountain {
    background: url(../images/mountains.png) no-repeat 50% 100%;
    background-size: cover;
    width: 115%;
    height: 115%;
}

.land {
    background: url(../images/land.png) no-repeat 50% 100%;
    bottom: -10vh;
    background-size: cover;
    position: absolute;
    width: 110%;
    left: -5%;
    height: 115vh;
}

.land2 {
    background: url(../images/grass.png) no-repeat 50% 50%;
    /*background: url(../images/2hill.png) no-repeat 50% 100%;*/
    bottom: -80vh;
    background-size: cover;
    position: absolute;
    width: 115%;
    height: 35%;
    left: -5%;
    right: -5%;
    top: 52%;
}

.land3 {
    background: url(../images/1hill.png) no-repeat 50% 100%;
    bottom: -5vh;
    background-size: cover;
    position: absolute;
    width: 105%;
    left: -5%;
    top: 15%;
}

.house {
    background: url(../images/2house.png) no-repeat 50% 100%;
    background-size: cover;
    position: absolute;
    left: -2%;
    right: -2%;
    top: 6%;
    bottom: -7%;
}

.mountain {
    position: absolute;
    width: 105%;
    left: 0%;
    top: 0%;
}

.title em {
    font-style: normal;
    font-size: 0.6em;
    color: #d92400;
}

.title {
    color: white;
    font-size: 3em;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    margin-top: -0.7em;
    position: absolute;
    width: 100%;
    top: 16%;
}

.feli-board {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 0px;
}

.feli-board #feli-board-img {
    height: 35vh;
}

.wave {
    -webkit-animation: wave 4s 1s infinite linear;
    -moz-animation: wave 4s 1s infinite linear;
    animation: wave 4s 1s infinite linear;
    background: transparent repeat-x;
    position: absolute;
    width: 300%;
    left: -100%;
    bottom: 0;
    background-size: 40vh 20vh;
    background-size: contain;
    height: 20vh;
}

.wave.plain {
    background-image: url(../images/wave2.png);
}

.wave.plain::after {
    background-color: #1cb2b8;
    position: absolute;
    display: block;
    content: "";
    top: 100%;
    height: 100px;
    width: 100%;
    left: 0;
}

.wave.paint {
    background-image: url(../images/wave1.png);
}

.wave.paint::after {
    background-color: #10e4e8;
    position: absolute;
    display: block;
    content: "";
    top: 100%;
    height: 100px;
    width: 100%;
    left: 0;
}

.wave.front {
    background-image: url(../images/new_wave.png);
}


/*.wave.depth-10 {
-webkit-animation: wave 8s 0.1s infinite linear;
-moz-animation: wave 8s 0.1s infinite linear;
animation: wave 6s 0.1s infinite linear;
bottom: -6vh;
margin: 0px 0px;
}

.wave.depth-20 {
-webkit-animation: wave 8s 0.1s infinite linear;
-moz-animation: wave 8s 0.1s infinite linear;
animation: wave 9s 0.1s infinite linear;
bottom: -3vh;
margin: 0px 0px;
}*/

.wave.depth-30 {
    -webkit-animation: wave 8s 1s infinite linear;
    -moz-animation: wave 8s 1s infinite linear;
    animation: wave 8s 1s infinite linear;
    margin: 0px 0px;
    bottom: -10vh;
    height: 220px;
}

.wave.depth-40 {
    -webkit-animation: wave 6s 1s infinite linear;
    -moz-animation: wave 6s 1s infinite linear;
    animation: wave 6s 1s infinite linear;
    margin: 0px 0px;
    bottom: 0vh;
    height: 180px;
}

.wave.depth-50 {
    -webkit-animation: wave 8s 1s infinite linear;
    -moz-animation: wave 8s 1s infinite linear;
    animation: wave 5s 1s infinite linear;
    height: 140px;
    bottom: 9vh;
    margin: 0px 0px;
}

.wave.depth-60 {
    -webkit-animation: wave 8s 1s infinite linear;
    -moz-animation: wave 8s 1s infinite linear;
    animation: wave 7s 1s infinite linear;
    margin: 0px 0px;
    bottom: 18vh;
    height: 100px;
}

.boat {
    -webkit-transform-origin: 50% 90%;
    -moz-transform-origin: 50% 90%;
    transform-origin: 50% 90%;
    -webkit-animation: bob 6s 1s infinite alternate linear;
    -moz-animation: bob 6s 1s infinite alternate linear;
    animation: bob 5s 1s infinite alternate linear;
    /*margin: 0px -64px;*/
    background-size: 128px 224px;
    height: 374px;
    width: 648px;
    background-image: url(../images/boat.gif);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 90px;
    position: absolute;
    left: 10%;
}

@-webkit-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}

@-moz-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}

@-ms-keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}

@keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}

@-webkit-keyframes bob {
    0% {
        transform: translate3d(0, 10%, 0);
        -webkit-transform: translate3d(0, 10%, 0);
        -moz-transform: translate3d(0, 10%, 0);
    }
    50% {
        transform: translate3d(0, 15%, 0);
        -webkit-transform: translate3d(0, 15%, 0);
        -moz-transform: translate3d(0, 15%, 0);
    }
    100% {
        transform: translate3d(0, 10%, 0);
        -webkit-transform: translate3d(0, 10%, 0);
        -moz-transform: translate3d(0, 10%, 0);
    }
}

@-moz-keyframes bob {
    0% {
        transform: translate3d(0, 10%, 0);
        -webkit-transform: translate3d(0, 10%, 0);
        -moz-transform: translate3d(0, 10%, 0);
    }
    50% {
        transform: translate3d(0, 15%, 0);
        -webkit-transform: translate3d(0, 15%, 0);
        -moz-transform: translate3d(0, 15%, 0);
    }
    100% {
        transform: translate3d(0, 10%, 0);
        -webkit-transform: translate3d(0, 10%, 0);
        -moz-transform: translate3d(0, 10%, 0);
    }
}

@-ms-keyframes bob {
    0% {
        transform: translate3d(0, 10%, 0);
        -webkit-transform: translate3d(0, 10%, 0);
        -moz-transform: translate3d(0, 10%, 0);
    }
    50% {
        transform: translate3d(0, 15%, 0);
        -webkit-transform: translate3d(0, 15%, 0);
        -moz-transform: translate3d(0, 15%, 0);
    }
    100% {
        transform: translate3d(0, 10%, 0);
        -webkit-transform: translate3d(0, 10%, 0);
        -moz-transform: translate3d(0, 10%, 0);
    }
}

@keyframes bob {
    0% {
        transform: translate3d(0, 10%, 0);
        -webkit-transform: translate3d(0, 10%, 0);
        -moz-transform: translate3d(0, 10%, 0);
    }
    50% {
        transform: translate3d(0, 20%, 0);
        -webkit-transform: translate3d(0, 20%, 0);
        -moz-transform: translate3d(0, 20%, 0);
    }
    100% {
        transform: translate3d(0, 10%, 0);
        -webkit-transform: translate3d(0, 10%, 0);
        -moz-transform: translate3d(0, 10%, 0);
    }
}

@-webkit-keyframes boat {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}

@-moz-keyframes boat {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}

@-ms-keyframes boat {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}

@keyframes boat {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    }
}

.cloud {
    background-image: url(../images/cloud-1.png);
    background-size: cover;
    position: absolute;
    height: 15vh;
    width: 25vh;
    color: black;
    cursor: pointer;
}

.cloud span {
    position: relative;
    top: 45%;
    font-size: 1.9em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cloud-1 {
    left: 2%;
    animation: bob 1.9s 0.01s infinite linear;
    top: 6%;
}

.cloud-2 {
    left: 15%;
    animation: bob 2s 0.01s infinite linear;
    top: 10%;
}

.cloud-3 {
    left: 26%;
    animation: bob 1.8s 0.01s infinite linear;
    top: 2%;
}

.cloud-4 {
    left: 65%;
    animation: bob 1.6s 0.01s infinite linear;
    top: 4%;
}

.cloud-5 {
    left: 80%;
    animation: bob 1.7s 0.01s infinite linear;
    top: 8%;
}

.cloud-6 {
    left: 87%;
    animation: bob 1.7s 0.01s infinite linear;
    top: 8%;
}

html {}

a {
    color: #d92400;
}

button {
    cursor: pointer;
    font-size: 1.33333em;
    line-height: 45.6px;
    font-family: "Dosis", sans-serif;
    background-color: #f2f2f2;
    font-weight: 600;
    border-radius: 28px;
    height: 56px;
    width: 56px;
    position: relative;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
}

.accelerate {
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.center {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    background: #f2f2f2 url(../images/panel.jpg) -7px 0;
    background-color: rgba(255, 255, 255, 0.0);
    background-size: 399px 357px;
    padding-bottom: 40px;
    height: 88vh;
    margin: 0 auto;
    width: 88%;
}

.cell {
    vertical-align: middle;
    display: table-cell;
}

.panel {
    background-clip: padding-box;
    transform: translate3d(0, 0, 0);
    position: relative;
    overflow: scroll;
    height: 90%;
    overflow-x: hidden;
}

.about {
    perspective: 1000px;
    color: #666666;
    min-height: 460px;
    position: absolute;
    overflow: hidden;
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.about.hide .cables {
    transform: translate3d(0, -10%, 0) rotateX(-90deg);
    opacity: 0;
}

.about.hide .panel {
    transform: rotateX(-20deg);
}

.about .panel, .about .cables {
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
}

.about .cables {
    transform-origin: 50% -100%;
}

.about .panel {
    transform-origin: 50% 0%;
}

.about .center:before {
    border-left: 1px dashed rgba(29, 31, 39, 0.2);
    position: absolute;
    display: block;
    height: 100%;
    content: "";
    left: 5%;
    top: 0;
}

.about .center:after {
    border-radius: 0 0 6px 0;
    background-clip: padding-box;
    background: transparent url(../images/compass.png) 0 0 no-repeat;
    background-size: 224px 224px;
    position: absolute;
    display: block;
    height: 160px;
    width: 120px;
    opacity: 0.2;
    content: "";
    bottom: 0;
    right: 0;
}

.about .linkholder {
    background-clip: padding-box;
    background: transparent url(../images/map.png) 0 0 no-repeat;
    background-size: 60.5px 82.5px;
}

.about .panel header:before {
    border-radius: 6px 0 0 0;
    position: absolute;
    display: block;
    height: 150px;
    width: 110px;
    opacity: 0.8;
    content: "";
    left: 0;
    top: 0;
}

.about .panel h1 {
    font-size: 3.83333em;
    font-weight: 100;
    color: #d92400;
}

.about .panel h2 {
    font-size: 2em;
    font-weight: 100;
    color: #d92400;
}

.about .panel h1 .tabheading {
    color: #1d1f27;
}

.about .panel p {
    position: relative;
    z-index: 1;
}

.about .panel p strong {
    font-weight: 700;
    color: #1d1f27;
}

.about .linkholder .links {
    zoom: 1;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.about .linkholder .links:after, .about .linkholder .links:before {
    display: table;
    content: "";
}

.about .linkholder .links:after {
    clear: both;
}

.about .linkholder .links li {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 33.3%;
}

.about .linkholder .links li a {
    border-radius: 0 0 0 5px;
    background-clip: padding-box;
}

.about .linkholder .links li+li {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.about .linkholder .links li+li a {
    border-radius: 0 0 5px 0;
    background-clip: padding-box;
}

.about .linkholder .links a {
    font-size: 1.33333em;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1em 0 1.1em;
    display: block;
}

.about .linkholder .links a.github:before, .about .linkholder .links a.download:before {
    content: "";
    font-family: "icons";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
    font-size: 0.8em;
    margin-right: 0.5em;
    margin-left: -0.8em;
    position: relative;
    top: -1px;
}

.toggle {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    margin: -28px;
    position: absolute;
    bottom: 12%;
    left: 50%;
}

.toggle-contact {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    margin: -28px;
    position: absolute;
    bottom: 12%;
    left: 50%;
}

.fb-btn {
    left: 45%;
}

.fb-btn:hover {
    background-color: #3b5998;
    color: white;
}

.youtube-btn {
    left: 50%;
}

.youtube-btn:hover {
    background-color: #d92400;
    color: white;
}

.instagram-btn {
    left: 55%;
}

.instagram-btn:hover {
    background-color: black;
    color: white;
}

.toggle.i .cross {
    transform: rotateZ(0deg);
}

.toggle.i .cross .x {
    margin-left: -2px;
    width: 4px;
    margin-top: -12px;
}

.toggle.i .cross .y {
    margin-top: -4px;
    height: 16px;
}

.cross {
    position: absolute;
    left: 50%;
    top: 50%;
}

.cross .x, .cross .y {
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #1d1f27;
    height: 4px;
    width: 4px;
    margin: -2px;
    position: absolute;
    left: 0;
    top: 0;
}

.cross .x {
    margin-left: -12px;
    margin-top: -2px;
    width: 24px;
}

.cross .y {
    margin-top: -12px;
    height: 24px;
}

.cross {
    transform: rotateZ(45deg);
}

.cross, .x, .y {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.about .panel, .about .cables {
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

button:hover {
    background-color: #d92400;
    color: white;
}

.toggle:hover .x, .toggle:hover .y {
    background-color: white;
}

.links a:hover {
    background-color: #d92400;
    color: white;
}

#loaderswing {
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;
    display: block;
    text-align: center;
    margin: auto;
    background: transparent;
    width: 22vw;
    height: auto;
    min-width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

#loaderswing>img {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    top: 0px;
    z-index: 2;
    transform-origin: center top;
}

.loaderhoverslow {
    animation: swingslow 3s ease-in-out infinite;
}

@keyframes swingslow {
    0% {
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }
    50% {
        -webkit-transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        -o-transform: rotateX(10deg);
        -ms-transform: rotateX(10deg);
        transform: rotateX(10deg);
    }
    100% {
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
