body {
	background-color: lightblue;
	background-size: cover;
	text-align: center;

}

.layer {
	width: 100%;
	height: 100%;
}

.mountain {
 	background: url(../images/home/background.png) no-repeat 50% 100%;
	background-size: cover;
	width: auto;
	height: 113%;
}

.land {
	background: url(../images/home/land.png) no-repeat 50% 100%;
	bottom: -10vh;
	background-size: cover;
	position: absolute;
	width: 110%;
	left: -5%;
	height: 115vh;
}

.land2 {
	background: url(../images/home/2hill.png) no-repeat 50% 100%;
	bottom: -5vh;
	background-size: cover;
	position: absolute;
	width: 105%;
	left: -5%;
	top: 15%;

}

.land3 {
	background: url(../images/home/1hill.png) no-repeat 50% 100%;
	bottom: -5vh;
	background-size: cover;
	position: absolute;
	width: 105%;
	left: -5%;
	top: 15%;
}

.house {
	background: url(../images/home/2house.png) no-repeat 50% 100%;
	background-size: cover;
	position: absolute;
	left: -2%;
	right: -2%;
	top: 6%;
	bottom: -7%;
}

.mountain {
	position: absolute;
	width: 105%;
	left: 0%;
	top: 0%;
}

.title em {
	font-style: normal;
	font-size:0.6em;
	color: #d92400;
}

.title {
	color: white;
	font-size: 3em;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
	margin-top: -0.7em;
	position: absolute;
	width: 100%;
	top: 42%;
}

.wave {
	-webkit-animation: wave 4s 0.1s infinite linear;
	-moz-animation: wave 4s 0.1s infinite linear;
	animation: wave 4s 0.1s infinite linear;
	background: transparent repeat-x;
	position: absolute;
	width: 300%;
	left: -100%;
	bottom: 0;
	background-size: 40vh 20vh;
	height: 20vh;
}

.wave:after {
	background-color: #10e4e8;
	position: absolute;
	display: block;
	content: "";
	top: 150%;
	left: 0;
}

.wave.plain {
	background-image: url(../images/home/wave2.png);
}

.wave.paint {
	background-image: url(../images/home/wave1.png);
}

.wave.depth-10 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 6s 0.1s infinite linear;
	bottom: -6vh;
	margin: 0px 0px;
}

.wave.depth-20 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 9s 0.1s infinite linear;
	bottom: -3vh;
	margin: 0px 0px;
}

.wave.depth-30 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 8s 0.1s infinite linear;
	bottom: 0vh;
	margin: 0px 0px;
}

.wave.depth-40 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 6s 0.1s infinite linear;
	bottom: 5vh;
	margin: 0px 0px;
}

.wave.depth-50 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 5s 0.1s infinite linear;
	bottom: 8vh;
	margin: 0px 0px;
}

.wave.depth-60 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 7s 0.1s infinite linear;
	bottom: 12vh;
	margin: 0px 0px;
}

@-webkit-keyframes wave {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

@-moz-keyframes wave {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

@-ms-keyframes wave {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

@keyframes wave {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

.cloud {
	background-image: url(../images/home/cloud-1.png);
	background-size: cover;
	position: absolute;
	height: 11.3vh;
	width: 25.4vh;
	color: black;
}

.cloud-1 {
	left: 3%;
	top: 6%;
}


.cloud-2 {
	left: 20%;
	top: 10%;
}

.cloud-3 {
	left: 50%;
	top: 2%;
}

.cloud-4 {
	left: 70%;
	top: 4%;
}

.cloud-5 {
	left: 85%;
	top: 8%;
}
